.Movie-name{
  font-family: 'Bree Serif', serif;

color: red;

}
.Movie-pic{
  width: 400px;
  box-shadow: aquamarine;
  height: 250px;
  
  border-radius: 10px;
  background-repeat: no-repeat;
  object-fit: cover;
}
body{
  padding-left: 20px;
  padding-top: 20px;
  background: rgba(180, 130, 238, 0.287);

}
.summary{
  color:limegreen;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head{
  
  color: rgb(162, 0, 255);
}
.movie-rating{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.Movie-pic:hover{
  object-fit: contain;
  transform: scale(1);
}